In [1]:
!git clone https://github.com/espadaone/PF_UCI-.git

Cloning into 'PF_UCI-'...
remote: Enumerating objects: 174, done.
remote: Counting objects: 100% (93/93), done.
remote: Compressing objects: 100% (76/76), done.
remote: Total 174 (delta 40), reused 51 (delta 14), pack-reused 81
Receiving objects: 100% (174/174), 64.86 MiB | 22.11 MiB/s, done.
Resolving deltas: 100% (62/62), done.

In [2]:
import pandas as pd

tabla_1_5 = pd.read_csv('/content/PF_UCI-/Diccionario_Datos/Tablas_1_5.csv')
tabla_6_10 = pd.read_csv('/content/PF_UCI-/Diccionario_Datos/tablas_6a10.csv')
tabla_11_15 = pd.read_csv('/content/PF_UCI-/Diccionario_Datos/Diccionario_tablas_11_15.csv')
tabla_16_20 = pd.read_csv('/content/PF_UCI-/Diccionario_Datos/tablas_16_20.csv')
tabla_21_26 = pd.read_csv('/content/PF_UCI-/Diccionario_Datos/UnionTablas21_26.csv')

In [7]:
# debemos quitar Unnamed: 0
tabla_1_5.head(1)

,Unnamed: 0,Name,Descripcion,Dtype,tabla,n tabla
0,0,row_id,(Obsoleto) Identificador de fila único,int,admissions,1

In [8]:
tabla_6_10.head(1)

     Name Descripcion Dtype      tabla  n tabla
0  row_id  id de fila   int  transfers        6

In [9]:
# "Tabla "deberia ser "tabla"
tabla_11_15.head(1)

     Name             Descripcion  Dtype           Tabla  n tabla
0  row_id  Identificador de linea  int64  INPUTEVENTS_MV       11

In [10]:
tabla_16_20.head(1)

     Name                  Descripcion Dtype          tabla  n tabla
0  row_id  Identificador de fila único   INT  DIAGNOSES_ICD       16

In [20]:
# falta el numero de tabla
# hay que quitar unnamed: 0
tabla_21_26.head(1)

   Unnamed: 0    Name            Descripcion Dtype           tabla
0           0  row_id  identificador de fila   int  PROCEDURES_ICD

In [16]:
tabla_1_5 = tabla_1_5[['Name','Descripcion','Dtype','tabla','n tabla']]

In [17]:
tabla_1_5.head(1)

     Name                             Descripcion Dtype       tabla  n tabla
0  row_id  (Obsoleto) Identificador de fila único   int  admissions        1

In [22]:
tabla_11_15.rename(columns = {'Tabla':'tabla'}, inplace = True)

In [23]:
# hay dos tablas con el mismo nombre, las ultimas 2
tabla_21_26

,Unnamed: 0,Name,Descripcion,Dtype,tabla
0,0,row_id,identificador de fila,int,PROCEDURES_ICD
1,1,subject_id,id de paciente,int,PROCEDURES_ICD
2,2,hadm_id,id de admision,int,PROCEDURES_ICD
3,3,seq_num,numero de procedimiento ocurrido antes,int,PROCEDURES_ICD
4,4,icd9_code,"clasificación para describir enfermedades, les...",O,PROCEDURES_ICD
5,0,row_id,identificador de fila,int,D_CPT
6,1,category,categoria,int,D_CPT
7,2,sectionrange,Rango de la seccion,O,D_CPT
8,3,sectionheader,seccion cabecera,O,D_CPT
9,4,subsectionrange,Rango de la subseccion,O,D_CPT
10,5,subsectionheader,cabecera de la subseccion,O,D_CPT
11,6,codesuffix,Elem. de Texto de terminologia procesal,O,D_CPT
12,7,mincodeinsubsection,codigo minimo dentro de la subseccion,int,D_CPT
13,8,maxcodeinsubsection,codigo maximo dentro de la subseccion,int,D_CPT
14,0,row_id,identificador de fila,int,D_ICD_DIAGNOSES
15,1,icd9_code,"clasificación para describir enfermedades, les...",int,D_ICD_DIAGNOSES
16,2,short_title,titulo corto de enfermedad o lesion etc,O,D_ICD_DIAGNOSES
17,3,long_title,titulo largo de enfermedad o lesion.etc,O,D_ICD_DIAGNOSES
18,0,row_id,identificador de fila,int,D_ICD_PROCEDURES
19,1,icd9_code,"clasificación para describir enfermedades, les...",int,D_ICD_PROCEDURES
20,2,short_title,titulo corto de enfermedad o lesion etc,O,D_ICD_PROCEDURES
21,3,long_title,titulo largo de enfermedad o lesion.etc,O,D_ICD_PROCEDURES
22,0,row_id,identificador de fila,int,D_ITEMS
23,1,itemid,Clasificación de item,int,D_ITEMS
24,2,label,Nombre del item,O,D_ITEMS
25,3,abbreviation,Abreviacion,O,D_ITEMS
26,4,dbsource,Fuente de datos,O,D_ITEMS
27,5,linksto,tabla de donde proviene el item,O,D_ITEMS
28,6,category,Categoria,O,D_ITEMS
29,7,unitname,nombre unico del item,O,D_ITEMS
30,8,param_type,tipo de item,O,D_ITEMS
31,9,conceptid,Id para relacionar conceptos,int,D_ITEMS
32,0,row_id,identificador de fila,int,D_ITEMS
33,1,itemid,Clasificación de item,int,D_ITEMS
34,2,label,Nombre del item,O,D_ITEMS
35,3,fluid,Tipo de fluido,O,D_ITEMS
36,4,category,categoria,O,D_ITEMS
37,5,loinc_code,Identificador logico por nombre y codigo de item,O,D_ITEMS

In [26]:
# Corregimos nombre de tablas
tabla_21_26['tabla'].loc[32] = 'D_LABITEMS'
tabla_21_26['tabla'].loc[33] = 'D_LABITEMS'
tabla_21_26['tabla'].loc[34] = 'D_LABITEMS'
tabla_21_26['tabla'].loc[35] = 'D_LABITEMS'
tabla_21_26['tabla'].loc[36] = 'D_LABITEMS'
tabla_21_26['tabla'].loc[37] = 'D_LABITEMS'
# Agregamos numero de tablas
tabla_21_26['n tabla'] = [21,21,21,21,21,22,22,22,22,22,22,22,22,22,23,23,23,23,24,24,24,24,25,25,25,25,25,25,25,25,25,25,26,26,26,26,26,26]

/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [27]:
# eliminamos el 2do indice que no nos sirve
tabla_21_26 = tabla_21_26[['Name','Descripcion','Dtype','tabla','n tabla']]
tabla_21_26.head(1)

     Name            Descripcion Dtype           tabla  n tabla
0  row_id  identificador de fila   int  PROCEDURES_ICD       21

In [37]:
tablas_1_26 = pd.concat([tabla_1_5,tabla_6_10,tabla_11_15,tabla_16_20,tabla_21_26])
tablas_1_26

,Name,Descripcion,Dtype,tabla,n tabla
0,row_id,(Obsoleto) Identificador de fila único,int,admissions,1
1,subject_id,PACIENTES DE REFERENCIAS (SUBJECT_ID),int,admissions,1
2,hadm_id,Identificador único para cada estancia hospita...,int,admissions,1
3,admittime,Hora de ingreso,Date,admissions,1
4,dischtime,Hora de alta,Date,admissions,1
...,...,...,...,...,...
33,itemid,Clasificación de item,int,D_LABITEMS,26
34,label,Nombre del item,O,D_LABITEMS,26
35,fluid,Tipo de fluido,O,D_LABITEMS,26
36,category,categoria,O,D_LABITEMS,26
37,loinc_code,Identificador logico por nombre y codigo de item,O,D_LABITEMS,26

In [35]:
tablas_1_26.head(40)

,Name,Descripcion,Dtype,tabla,n tabla
0,row_id,(Obsoleto) Identificador de fila único,int,admissions,1
1,subject_id,PACIENTES DE REFERENCIAS (SUBJECT_ID),int,admissions,1
2,hadm_id,Identificador único para cada estancia hospita...,int,admissions,1
3,admittime,Hora de ingreso,Date,admissions,1
4,dischtime,Hora de alta,Date,admissions,1
5,deathtime,Hora de la muerte,Date,admissions,1
6,admission_type,Tipo de admisión [ejemplo: emergencia o electiva],O,admissions,1
7,admission_location,Lugar de admisión,O,admissions,1
8,discharge_location,Lugar de alta,O,admissions,1
9,insurance,Tipo de seguro,O,admissions,1
10,language,Idioma,O,admissions,1
11,religion,Religión,O,admissions,1
12,marital_status,Estado civil,O,admissions,1
13,ethnicity,Etnicidad,O,admissions,1
14,edregtime,Tiempo que el paciente estuvo registrado en el...,Date,admissions,1
15,edouttime,Tiempo en que el paciente fue dado de alta del...,Date,admissions,1
16,diagnosis,Diagnostico(Enfermedad o lesión),O,admissions,1
17,hospital_expire_flag,-,int,admissions,1
18,has_chartevents_data,Tiene al menos una observación en la tabla CHA...,int,admissions,1
19,row_id,(Obsoleto) Identificador de fila único,int,callout,2
20,subject_id,PACIENTES DE REFERENCIAS (SUBJECT_ID),int,callout,2
21,hadm_id,Identificador único para cada estancia hospita...,int,callout,2
22,submit_wardid,Identifica el distrito donde se envió la solic...,int,callout,2
23,submit_careunit,"Sala donde se envió la llamada, si es una unid...",O,callout,2
24,curr_wardid,Sala donde reside actualmente el paciente,int,callout,2
25,curr_careunit,Si actualmente se encuentra en una unidad de c...,O,callout,2
26,callout_wardid,"Dónde se va a dar de alta al paciente, 0 = dom...",int,callout,2
27,callout_service,Identifica el servicio al que se llama al paci...,O,callout,2
28,request_tele,Indica si se requieren precauciones especiales...,int,callout,2
29,request_resp,Indica si se requieren precauciones especiales...,int,callout,2
30,request_cdiff,Indica si se requieren precauciones especiales...,int,callout,2
31,request_mrsa,Indica si se requieren precauciones especiales...,int,callout,2
32,request_vre,Indica si se requieren precauciones especiales...,int,callout,2
33,callout_status,Estado actual de la solicitud de llamada,O,callout,2
34,callout_outcome,Resultado [cancelación o alta],O,callout,2
35,discharge_wardid,La sala a la que fue dado de alta el paciente,float,callout,2
36,acknowledge_status,Estado de la respuesta a la solicitud de llamada,O,callout,2
37,createtime,Hora y fecha en que se inició la llamada,Date,callout,2
38,updatetime,Última vez que se actualizó el evento de llamada,Date,callout,2
39,acknowledgetime,Hora a la que se acusó recibo de la solicitud ...,Date,callout,2

In [36]:
tablas_1_26.tail(40)

,Name,Descripcion,Dtype,tabla,n tabla
55,form_unit_disp,Unidad de medida asociada a la formulación,VARCHAR(120),PRESCRIPTIONS,20
56,route,Vía de administración,VARCHAR(120),PRESCRIPTIONS,20
0,row_id,identificador de fila,int,PROCEDURES_ICD,21
1,subject_id,id de paciente,int,PROCEDURES_ICD,21
2,hadm_id,id de admision,int,PROCEDURES_ICD,21
3,seq_num,numero de procedimiento ocurrido antes,int,PROCEDURES_ICD,21
4,icd9_code,"clasificación para describir enfermedades, les...",O,PROCEDURES_ICD,21
5,row_id,identificador de fila,int,D_CPT,22
6,category,categoria,int,D_CPT,22
7,sectionrange,Rango de la seccion,O,D_CPT,22
8,sectionheader,seccion cabecera,O,D_CPT,22
9,subsectionrange,Rango de la subseccion,O,D_CPT,22
10,subsectionheader,cabecera de la subseccion,O,D_CPT,22
11,codesuffix,Elem. de Texto de terminologia procesal,O,D_CPT,22
12,mincodeinsubsection,codigo minimo dentro de la subseccion,int,D_CPT,22
13,maxcodeinsubsection,codigo maximo dentro de la subseccion,int,D_CPT,22
14,row_id,identificador de fila,int,D_ICD_DIAGNOSES,23
15,icd9_code,"clasificación para describir enfermedades, les...",int,D_ICD_DIAGNOSES,23
16,short_title,titulo corto de enfermedad o lesion etc,O,D_ICD_DIAGNOSES,23
17,long_title,titulo largo de enfermedad o lesion.etc,O,D_ICD_DIAGNOSES,23
18,row_id,identificador de fila,int,D_ICD_PROCEDURES,24
19,icd9_code,"clasificación para describir enfermedades, les...",int,D_ICD_PROCEDURES,24
20,short_title,titulo corto de enfermedad o lesion etc,O,D_ICD_PROCEDURES,24
21,long_title,titulo largo de enfermedad o lesion.etc,O,D_ICD_PROCEDURES,24
22,row_id,identificador de fila,int,D_ITEMS,25
23,itemid,Clasificación de item,int,D_ITEMS,25
24,label,Nombre del item,O,D_ITEMS,25
25,abbreviation,Abreviacion,O,D_ITEMS,25
26,dbsource,Fuente de datos,O,D_ITEMS,25
27,linksto,tabla de donde proviene el item,O,D_ITEMS,25
28,category,Categoria,O,D_ITEMS,25
29,unitname,nombre unico del item,O,D_ITEMS,25
30,param_type,tipo de item,O,D_ITEMS,25
31,conceptid,Id para relacionar conceptos,int,D_ITEMS,25
32,row_id,identificador de fila,int,D_LABITEMS,26
33,itemid,Clasificación de item,int,D_LABITEMS,26
34,label,Nombre del item,O,D_LABITEMS,26
35,fluid,Tipo de fluido,O,D_LABITEMS,26
36,category,categoria,O,D_LABITEMS,26
37,loinc_code,Identificador logico por nombre y codigo de item,O,D_LABITEMS,26

In [39]:
tablas_1_26.reset_index(inplace = True)
tablas_1_26 = tablas_1_26[['Name','Descripcion','Dtype','tabla','n tabla']]
tablas_1_26

,Name,Descripcion,Dtype,tabla,n tabla
0,row_id,(Obsoleto) Identificador de fila único,int,admissions,1
1,subject_id,PACIENTES DE REFERENCIAS (SUBJECT_ID),int,admissions,1
2,hadm_id,Identificador único para cada estancia hospita...,int,admissions,1
3,admittime,Hora de ingreso,Date,admissions,1
4,dischtime,Hora de alta,Date,admissions,1
...,...,...,...,...,...
319,itemid,Clasificación de item,int,D_LABITEMS,26
320,label,Nombre del item,O,D_LABITEMS,26
321,fluid,Tipo de fluido,O,D_LABITEMS,26
322,category,categoria,O,D_LABITEMS,26
323,loinc_code,Identificador logico por nombre y codigo de item,O,D_LABITEMS,26

In [40]:
tablas_1_26.to_csv('TABLAS_1_26.csv')