In [5]:
import pandas as pd

tabla 21

In [37]:
PROCEDURES_ICD=pd.read_csv(r'https://raw.githubusercontent.com/espadaone/PF_UCI-/main/datasets/PROCEDURES_ICD.csv',sep=",")
PROCEDURES_ICD #Diagnosticos y abreviados

     row_id  subject_id  hadm_id  seq_num  icd9_code
0      3994       10114   167957        1       3605
1      3995       10114   167957        2       3722
2      3996       10114   167957        3       8856
3      3997       10114   167957        4       9920
4      3998       10114   167957        5       9671
..      ...         ...      ...      ...        ...
501  230170       41976   179418        2       3893
502  235193       41976   155297        1       3893
503  235194       41976   155297        2        966
504  238588       41976   125013        1       3893
505  239961       41976   151798        1        966

[506 rows x 5 columns]

In [38]:
PROCEDURES_ICD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      506 non-null    int64
 1   subject_id  506 non-null    int64
 2   hadm_id     506 non-null    int64
 3   seq_num     506 non-null    int64
 4   icd9_code   506 non-null    int64
dtypes: int64(5)
memory usage: 19.9 KB

In [39]:
PROCEDURES_ICD_names = list(PROCEDURES_ICD.columns.values)
PROCEDURES_ICD_names

['row_id', 'subject_id', 'hadm_id', 'seq_num', 'icd9_code']

In [40]:
# Descripcion de columnas
PROCEDURES_ICD_descripcion = ['identificador de fila','id de paciente','id de admision','numero de procedimiento ocurrido antes','clasificación para describir enfermedades, lesiones y afecciones médicas ']

In [42]:
# Unimos la lista con nombres de columnas y la descripcion de cada columna
PROCEDURES_ICD_completo= dict(zip(PROCEDURES_ICD_names,PROCEDURES_ICD_descripcion))
# Creamos el df
PROCEDURES_ICD_columnas = pd.DataFrame([[key, PROCEDURES_ICD_completo[key]] for key in PROCEDURES_ICD_completo.keys()], columns=['Name', 'Descripcion'])
# Tipo de dato de cada columna
PROCEDURES_ICD_dtype = ['int','int','int','int','O']
# Agregamos el tipo de dato
PROCEDURES_ICD_columnas['Dtype'] = PROCEDURES_ICD_dtype
# Agregamos nombre de columna
PROCEDURES_ICD_columnas['tabla'] = 'PROCEDURES_ICD'

In [43]:
PROCEDURES_ICD_columnas

,Name,Descripcion,Dtype,tabla
0,row_id,identificador de fila,int,PROCEDURES_ICD
1,subject_id,id de paciente,int,PROCEDURES_ICD
2,hadm_id,id de admision,int,PROCEDURES_ICD
3,seq_num,numero de procedimiento ocurrido antes,int,PROCEDURES_ICD
4,icd9_code,"clasificación para describir enfermedades, les...",O,PROCEDURES_ICD

tabla-22

In [44]:
D_CPT=pd.read_csv(r'https://raw.githubusercontent.com/espadaone/PF_UCI-/main/datasets/D_CPT.csv',sep=",")
D_CPT #Diagnosticos y abreviados

,row_id,category,sectionrange,sectionheader,subsectionrange,subsectionheader,codesuffix,mincodeinsubsection,maxcodeinsubsection
0,1,1,99201-99499,Evaluation and management,99201-99216,Office/other outpatient services,NaN,99201,99216
1,2,1,99201-99499,Evaluation and management,99217-99220,Hospital observation services,NaN,99217,99220
2,3,1,99201-99499,Evaluation and management,99221-99239,Hospital inpatient services,NaN,99221,99239
3,4,1,99201-99499,Evaluation and management,99241-99255,Consultations,NaN,99241,99255
4,5,1,99201-99499,Evaluation and management,99261-99263,Follow-up inpatient consultations (deleted codes),NaN,99261,99263
...,...,...,...,...,...,...,...,...,...
129,130,2,0001F-7025F,Performance measurement,5005F-5100F,Follow-up or other outcomes,F,5005,5100
130,131,2,0001F-7025F,Performance measurement,6005F-6045F,Patient safety,F,6005,6045
131,132,2,0001F-7025F,Performance measurement,7010F-7025F,Structural Measures,F,7010,7025
132,133,3,0016T-0207T,Emerging technology,0016T-0207T,Temporary codes,T,16,207
133,134,3,0256T-0259T,Emerging technology,0256T-0259T,Temporary codes,T,256,259

In [45]:
D_CPT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   row_id               134 non-null    int64
 1   category             134 non-null    int64
 2   sectionrange         134 non-null    object
 3   sectionheader        134 non-null    object
 4   subsectionrange      134 non-null    object
 5   subsectionheader     134 non-null    object
 6   codesuffix           11 non-null     object
 7   mincodeinsubsection  134 non-null    int64
 8   maxcodeinsubsection  134 non-null    int64
dtypes: int64(4), object(5)
memory usage: 9.5+ KB

In [46]:
D_CPT_names = list(D_CPT.columns.values)
D_CPT_names

['row_id',
 'category',
 'sectionrange',
 'sectionheader',
 'subsectionrange',
 'subsectionheader',
 'codesuffix',
 'mincodeinsubsection',
 'maxcodeinsubsection']

In [47]:
D_CPT_descripcion = ['identificador de fila','categoria','Rango de la seccion','seccion cabecera','Rango de la subseccion','cabecera de la subseccion','Elem. de Texto de terminologia procesal','codigo minimo dentro de la subseccion','codigo maximo dentro de la subseccion']

In [48]:
# Unimos la lista con nombres de columnas y la descripcion de cada columna
D_CPT_completo= dict(zip(D_CPT_names,D_CPT_descripcion))
# Creamos el df
D_CPT_columnas = pd.DataFrame([[key, D_CPT_completo[key]] for key in D_CPT_completo.keys()], columns=['Name', 'Descripcion'])
# Tipo de dato de cada columna
D_CPT_dtype = ['int','int','O','O','O','O','O','int','int']
# Agregamos el tipo de dato
D_CPT_columnas['Dtype'] = D_CPT_dtype
# Agregamos nombre de columna
D_CPT_columnas['tabla'] = 'D_CPT'

In [49]:
D_CPT_columnas

                  Name                              Descripcion Dtype  tabla
0               row_id                    identificador de fila   int  D_CPT
1             category                                categoria   int  D_CPT
2         sectionrange                      Rango de la seccion     O  D_CPT
3        sectionheader                         seccion cabecera     O  D_CPT
4      subsectionrange                   Rango de la subseccion     O  D_CPT
5     subsectionheader                cabecera de la subseccion     O  D_CPT
6           codesuffix  Elem. de Texto de terminologia procesal     O  D_CPT
7  mincodeinsubsection    codigo minimo dentro de la subseccion   int  D_CPT
8  maxcodeinsubsection    codigo maximo dentro de la subseccion   int  D_CPT

tabla-23

In [13]:
D_ICD_DIAGNOSES=pd.read_csv(r'https://raw.githubusercontent.com/espadaone/PF_UCI-/main/datasets/D_ICD_DIAGNOSES.csv',sep=",")
D_ICD_DIAGNOSES #Diagnosticos y abreviados

,row_id,icd9_code,short_title,long_title
0,1,01716,Erythem nod tb-oth test,Erythema nodosum with hypersensitivity reactio...
1,2,01720,TB periph lymph-unspec,"Tuberculosis of peripheral lymph nodes, unspec..."
2,3,01721,TB periph lymph-no exam,"Tuberculosis of peripheral lymph nodes, bacter..."
3,4,01722,TB periph lymph-exam unk,"Tuberculosis of peripheral lymph nodes, bacter..."
4,5,01723,TB periph lymph-micro dx,"Tuberculosis of peripheral lymph nodes, tuberc..."
...,...,...,...,...
14562,14563,V8712,Contact/exposure benzene,Contact with and (suspected) exposure to benzene
14563,14564,V8719,Cont/exp haz aromat NEC,Contact with and (suspected) exposure to other...
14564,14565,V872,Cont/exp hazard chem NEC,Contact with and (suspected) exposure to other...
14565,14566,V8731,Contact/exposure mold,Contact with and (suspected) exposure to mold
14566,14567,V8732,Contact/exp algae bloom,Contact with and (suspected) exposure to algae...

In [14]:
D_ICD_DIAGNOSES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14567 entries, 0 to 14566
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       14567 non-null  int64
 1   icd9_code    14567 non-null  object
 2   short_title  14567 non-null  object
 3   long_title   14567 non-null  object
dtypes: int64(1), object(3)
memory usage: 455.3+ KB

In [15]:
D_ICD_DIAGNOSES_names = list(D_ICD_DIAGNOSES.columns.values)
D_ICD_DIAGNOSES_names

['row_id', 'icd9_code', 'short_title', 'long_title']

In [16]:
# Descripcion de columnas
D_ICD_DIAGNOSES_descripcion = ['identificador de fila','clasificación para describir enfermedades, lesiones y afecciones médicas ','titulo corto de enfermedad o lesion etc','titulo largo de enfermedad o lesion.etc']

In [17]:
# Unimos la lista con nombres de columnas y la descripcion de cada columna
D_ICD_DIAGNOSES_completo= dict(zip(D_ICD_DIAGNOSES_names,D_ICD_DIAGNOSES_descripcion))
# Creamos el df
D_ICD_DIAGNOSES_columnas = pd.DataFrame([[key, D_ICD_DIAGNOSES_completo[key]] for key in D_ICD_DIAGNOSES_completo.keys()], columns=['Name', 'Descripcion'])
# Tipo de dato de cada columna
D_ICD_DIAGNOSES_dtype = ['int','int','O','O']
# Agregamos el tipo de dato
D_ICD_DIAGNOSES_columnas['Dtype'] = D_ICD_DIAGNOSES_dtype
# Agregamos nombre de columna
D_ICD_DIAGNOSES_columnas['tabla'] = 'D_ICD_DIAGNOSES'

In [18]:
D_ICD_DIAGNOSES_columnas

,Name,Descripcion,Dtype,tabla
0,row_id,identificador de fila,int,D_ICD_DIAGNOSES
1,icd9_code,"clasificación para describir enfermedades, les...",int,D_ICD_DIAGNOSES
2,short_title,titulo corto de enfermedad o lesion etc,O,D_ICD_DIAGNOSES
3,long_title,titulo largo de enfermedad o lesion.etc,O,D_ICD_DIAGNOSES

tabla 24

In [19]:
D_ICD_PROCEDURES=pd.read_csv(r'https://raw.githubusercontent.com/espadaone/PF_UCI-/main/datasets/D_ICD_DIAGNOSES.csv',sep=",")
D_ICD_PROCEDURES #Diagnosticos y abreviados

,row_id,icd9_code,short_title,long_title
0,1,01716,Erythem nod tb-oth test,Erythema nodosum with hypersensitivity reactio...
1,2,01720,TB periph lymph-unspec,"Tuberculosis of peripheral lymph nodes, unspec..."
2,3,01721,TB periph lymph-no exam,"Tuberculosis of peripheral lymph nodes, bacter..."
3,4,01722,TB periph lymph-exam unk,"Tuberculosis of peripheral lymph nodes, bacter..."
4,5,01723,TB periph lymph-micro dx,"Tuberculosis of peripheral lymph nodes, tuberc..."
...,...,...,...,...
14562,14563,V8712,Contact/exposure benzene,Contact with and (suspected) exposure to benzene
14563,14564,V8719,Cont/exp haz aromat NEC,Contact with and (suspected) exposure to other...
14564,14565,V872,Cont/exp hazard chem NEC,Contact with and (suspected) exposure to other...
14565,14566,V8731,Contact/exposure mold,Contact with and (suspected) exposure to mold
14566,14567,V8732,Contact/exp algae bloom,Contact with and (suspected) exposure to algae...

In [20]:
D_ICD_PROCEDURES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14567 entries, 0 to 14566
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       14567 non-null  int64
 1   icd9_code    14567 non-null  object
 2   short_title  14567 non-null  object
 3   long_title   14567 non-null  object
dtypes: int64(1), object(3)
memory usage: 455.3+ KB

In [21]:
D_ICD_PROCEDURES_names = list(D_ICD_PROCEDURES.columns.values)
D_ICD_PROCEDURES_names

['row_id', 'icd9_code', 'short_title', 'long_title']

In [22]:
D_ICD_PROCEDURES_descripcion = ['identificador de fila','clasificación para describir enfermedades, lesiones y afecciones médicas ','titulo corto de enfermedad o lesion etc','titulo largo de enfermedad o lesion.etc']

In [23]:
# Unimos la lista con nombres de columnas y la descripcion de cada columna
D_ICD_PROCEDURES_completo= dict(zip(D_ICD_PROCEDURES_names,D_ICD_PROCEDURES_descripcion))
# Creamos el df
D_ICD_PROCEDURES_columnas = pd.DataFrame([[key, D_ICD_PROCEDURES_completo[key]] for key in D_ICD_PROCEDURES_completo.keys()], columns=['Name', 'Descripcion'])
# Tipo de dato de cada columna
D_ICD_PROCEDURES_dtype = ['int','int','O','O']
# Agregamos el tipo de dato
D_ICD_PROCEDURES_columnas['Dtype'] = D_ICD_PROCEDURES_dtype
# Agregamos nombre de columna
D_ICD_PROCEDURES_columnas['tabla'] = 'D_ICD_PROCEDURES'

In [24]:
D_ICD_PROCEDURES_columnas

,Name,Descripcion,Dtype,tabla
0,row_id,identificador de fila,int,D_ICD_PROCEDURES
1,icd9_code,"clasificación para describir enfermedades, les...",int,D_ICD_PROCEDURES
2,short_title,titulo corto de enfermedad o lesion etc,O,D_ICD_PROCEDURES
3,long_title,titulo largo de enfermedad o lesion.etc,O,D_ICD_PROCEDURES

tabla 25

In [25]:
D_ITEMS=pd.read_csv(r'https://raw.githubusercontent.com/espadaone/PF_UCI-/main/datasets/D_ITEMS.csv',sep=",")
D_ITEMS #Diagnosticos y abreviados

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,1,1435,Sustained Nystamus,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,2,1436,Tactile Disturbances,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,3,1437,Tremor,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,4,1438,Ulnar Pulse [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,5,1439,Visual Disturbances,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12482,15670,228575,Incision #5- Treatment,Incision #5- Treatment,metavision,chartevents,Skin - Incisions,NaN,Text,NaN
12483,15671,228576,Incision #6- Treatment,Incision #6- Treatment,metavision,chartevents,Skin - Incisions,NaN,Text,NaN
12484,15672,228577,Impaired Skin #2- Type,Impaired Skin #2- Type,metavision,chartevents,Skin - Impairment,NaN,Text,NaN
12485,15673,228578,Impaired Skin #3- Type,Impaired Skin #3- Type,metavision,chartevents,Skin - Impairment,NaN,Text,NaN
12486,15674,228579,Impaired Skin #4- Type,Impaired Skin #4- Type,metavision,chartevents,Skin - Impairment,NaN,Text,NaN

In [26]:
D_ITEMS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12487 entries, 0 to 12486
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   row_id        12487 non-null  int64
 1   itemid        12487 non-null  int64
 2   label         12483 non-null  object
 3   abbreviation  2992 non-null   object
 4   dbsource      12487 non-null  object
 5   linksto       12487 non-null  object
 6   category      6049 non-null   object
 7   unitname      1234 non-null   object
 8   param_type    2992 non-null   object
 9   conceptid     0 non-null      float64
dtypes: float64(1), int64(2), object(7)
memory usage: 975.7+ KB

In [27]:
D_ITEMS_names = list(D_ITEMS.columns.values)
D_ITEMS_names

['row_id',
 'itemid',
 'label',
 'abbreviation',
 'dbsource',
 'linksto',
 'category',
 'unitname',
 'param_type',
 'conceptid']

In [28]:
D_ITEMS_descripcion = ['identificador de fila','Clasificación de item','Nombre del item ','Abreviacion','Fuente de datos','tabla de donde proviene el item','Categoria','nombre unico del item','tipo de item','Id para relacionar conceptos']

In [29]:
# Unimos la lista con nombres de columnas y la descripcion de cada columna
D_ITEMS_completo= dict(zip(D_ITEMS_names,D_ITEMS_descripcion))
# Creamos el df
D_ITEMS_columnas = pd.DataFrame([[key, D_ITEMS_completo[key]] for key in D_ITEMS_completo.keys()], columns=['Name', 'Descripcion'])
# Tipo de dato de cada columna
D_ITEMS_dtype = ['int','int','O','O','O','O','O','O','O','int']
# Agregamos el tipo de dato
D_ITEMS_columnas['Dtype'] = D_ITEMS_dtype
# Agregamos nombre de columna
D_ITEMS_columnas['tabla'] = 'D_ITEMS'

In [30]:
D_ITEMS_columnas

           Name                      Descripcion Dtype    tabla
0        row_id            identificador de fila   int  D_ITEMS
1        itemid            Clasificación de item   int  D_ITEMS
2         label                 Nombre del item      O  D_ITEMS
3  abbreviation                      Abreviacion     O  D_ITEMS
4      dbsource                  Fuente de datos     O  D_ITEMS
5       linksto  tabla de donde proviene el item     O  D_ITEMS
6      category                        Categoria     O  D_ITEMS
7      unitname            nombre unico del item     O  D_ITEMS
8    param_type                     tipo de item     O  D_ITEMS
9     conceptid     Id para relacionar conceptos   int  D_ITEMS

tabla 26

In [31]:
D_LABITEMS=pd.read_csv(r'https://raw.githubusercontent.com/espadaone/PF_UCI-/main/datasets/D_LABITEMS.csv',sep=",")
D_LABITEMS #Diagnosticos y abreviados

,row_id,itemid,label,fluid,category,loinc_code
0,1,50800,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN
1,2,50801,Alveolar-arterial Gradient,Blood,Blood Gas,19991-9
2,3,50802,Base Excess,Blood,Blood Gas,11555-0
3,4,50803,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,1959-6
4,5,50804,Calculated Total CO2,Blood,Blood Gas,34728-6
...,...,...,...,...,...,...
748,749,51551,VOIDED SPECIMEN,OTHER BODY FLUID,HEMATOLOGY,NaN
749,750,51552,VOIDED SPECIMEN,STOOL,CHEMISTRY,NaN
750,751,51553,VOIDED SPECIMEN,URINE,CHEMISTRY,NaN
751,752,51554,VOIDED SPECIMEN,JOINT FLUID,HEMATOLOGY,NaN
752,753,51555,SURFACTANT ALBUMIN RATIO,OTHER BODY FLUID,CHEMISTRY,NaN

In [32]:
D_LABITEMS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      753 non-null    int64
 1   itemid      753 non-null    int64
 2   label       753 non-null    object
 3   fluid       753 non-null    object
 4   category    753 non-null    object
 5   loinc_code  585 non-null    object
dtypes: int64(2), object(4)
memory usage: 35.4+ KB

In [33]:
D_LABITEMS_names = list(D_LABITEMS.columns.values)
D_LABITEMS_names

['row_id', 'itemid', 'label', 'fluid', 'category', 'loinc_code']

In [34]:
D_LABITEMS_descripcion = ['identificador de fila','Clasificación de item','Nombre del item ','Tipo de fluido','categoria','Identificador logico por nombre y codigo de item']

In [35]:
# Unimos la lista con nombres de columnas y la descripcion de cada columna
D_LABITEMS_completo= dict(zip(D_LABITEMS_names,D_LABITEMS_descripcion))
# Creamos el df
D_LABITEMS_columnas = pd.DataFrame([[key, D_LABITEMS_completo[key]] for key in D_LABITEMS_completo.keys()], columns=['Name', 'Descripcion'])
# Tipo de dato de cada columna
D_LABITEMS_dtype = ['int','int','O','O','O','O']
# Agregamos el tipo de dato
D_LABITEMS_columnas['Dtype'] = D_LABITEMS_dtype
# Agregamos nombre de columna
D_LABITEMS_columnas['tabla'] = 'D_ITEMS'

In [36]:
D_LABITEMS_columnas

         Name                                       Descripcion Dtype    tabla
0      row_id                             identificador de fila   int  D_ITEMS
1      itemid                             Clasificación de item   int  D_ITEMS
2       label                                  Nombre del item      O  D_ITEMS
3       fluid                                    Tipo de fluido     O  D_ITEMS
4    category                                         categoria     O  D_ITEMS
5  loinc_code  Identificador logico por nombre y codigo de item     O  D_ITEMS

tablas 21 a la 26

In [ ]:
PROCEDURES_ICD_columnas

In [ ]:
D_CPT_columnas

In [ ]:
D_ICD_DIAGNOSES_columnas

In [ ]:
D_ICD_PROCEDURES_columnas

In [ ]:
D_ITEMS_columnas

In [ ]:
D_LABITEMS_columnas

In [50]:
Union_tablas21_26=pd.concat([PROCEDURES_ICD_columnas,D_CPT_columnas,D_ICD_DIAGNOSES_columnas,D_ICD_PROCEDURES_columnas,D_ITEMS_columnas,D_LABITEMS_columnas])

In [51]:
Union_tablas21_26

,Name,Descripcion,Dtype,tabla
0,row_id,identificador de fila,int,PROCEDURES_ICD
1,subject_id,id de paciente,int,PROCEDURES_ICD
2,hadm_id,id de admision,int,PROCEDURES_ICD
3,seq_num,numero de procedimiento ocurrido antes,int,PROCEDURES_ICD
4,icd9_code,"clasificación para describir enfermedades, les...",O,PROCEDURES_ICD
0,row_id,identificador de fila,int,D_CPT
1,category,categoria,int,D_CPT
2,sectionrange,Rango de la seccion,O,D_CPT
3,sectionheader,seccion cabecera,O,D_CPT
4,subsectionrange,Rango de la subseccion,O,D_CPT
5,subsectionheader,cabecera de la subseccion,O,D_CPT
6,codesuffix,Elem. de Texto de terminologia procesal,O,D_CPT
7,mincodeinsubsection,codigo minimo dentro de la subseccion,int,D_CPT
8,maxcodeinsubsection,codigo maximo dentro de la subseccion,int,D_CPT
0,row_id,identificador de fila,int,D_ICD_DIAGNOSES
1,icd9_code,"clasificación para describir enfermedades, les...",int,D_ICD_DIAGNOSES
2,short_title,titulo corto de enfermedad o lesion etc,O,D_ICD_DIAGNOSES
3,long_title,titulo largo de enfermedad o lesion.etc,O,D_ICD_DIAGNOSES
0,row_id,identificador de fila,int,D_ICD_PROCEDURES
1,icd9_code,"clasificación para describir enfermedades, les...",int,D_ICD_PROCEDURES
2,short_title,titulo corto de enfermedad o lesion etc,O,D_ICD_PROCEDURES
3,long_title,titulo largo de enfermedad o lesion.etc,O,D_ICD_PROCEDURES
0,row_id,identificador de fila,int,D_ITEMS
1,itemid,Clasificación de item,int,D_ITEMS
2,label,Nombre del item,O,D_ITEMS
3,abbreviation,Abreviacion,O,D_ITEMS
4,dbsource,Fuente de datos,O,D_ITEMS
5,linksto,tabla de donde proviene el item,O,D_ITEMS
6,category,Categoria,O,D_ITEMS
7,unitname,nombre unico del item,O,D_ITEMS
8,param_type,tipo de item,O,D_ITEMS
9,conceptid,Id para relacionar conceptos,int,D_ITEMS
0,row_id,identificador de fila,int,D_ITEMS
1,itemid,Clasificación de item,int,D_ITEMS
2,label,Nombre del item,O,D_ITEMS
3,fluid,Tipo de fluido,O,D_ITEMS
4,category,categoria,O,D_ITEMS
5,loinc_code,Identificador logico por nombre y codigo de item,O,D_ITEMS

In [ ]:
Union_tablas21_26.to_csv('UnionTablas21_26',sep=",")